body {
  margin:0px;
}
header {
  display:block; 
  width:99%;
  height:120px;
  border: 1px solid black;
  margin:0px;
}
header p, header h1 {
  margin: 0px;
}

#main {
  border: 1px solid black;
  height: 450px;
  width:76%;
  margin:0 12%;
}
